@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  font-family: "Outfit", sans-serif;
  color: #fff;
  background: #355c7d;
  background: -webkit-linear-gradient(to bottom, #c06c84, #6c5b7b, #355c7d);
  background: linear-gradient(to bottom, #c06c84, #6c5b7b, #355c7d);
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.shadowbox-container {
  width: 800px;
  height: 600px;
  position: relative;
  transform-style: preserve-3d;
  transform: perspective(1000px);
  box-shadow: 0px 12px 30px #333;
}

img {
  position: absolute;
}

#layer-2 {
  transform: translateZ(60px);
}

#layer-3 {
  transform: translateZ(40px);
}

#layer-4 {
  transform: translateZ(60px);
}

#layer-5 {
  transform: translateZ(80px);
}

#layer-6 {
  transform: translateZ(100px);
}

#layer-7 {
  transform: translateZ(120px);
}
